map {
background-image: url("carte.jpg");
}

position: relative;
background: url(/src/assets/img/gaul_map_cities.jpg) no-repeat;
width: 780px;
height: 675px;



.region {
            position: absolute;
            cursor: pointer;
        }



        /* Style pour visualiser les régions, à supprimer ou modifier */
        .region:hover {
            background-color: rgba(255,255,255,0.5);
        }
